* {
    box-sizing: border-box;
    border-collapse: collapse;
}

html {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #404040;
}

body, 
header, 
main,
section, 
footer {
    width: 100%;
    padding: 0;
    margin: 0;
}

header, section {
    border-bottom: 2px solid rgb(30, 30, 30, 0.5);
}


/* --------------------------------------------- */
/* ------------------- fonts ------------------- */

@font-face {
    font-family: AusthinaBrush;
    src: url(../assets/fonts/AusthinaBrushCalligraphyScratch/AusthinaBrushCalligraphyScratch.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato2OFL/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoLight;
    src: url(../assets/fonts/Lato2OFL/Lato-Light.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(../assets/fonts/Lato2OFL/Lato-Bold.ttf);
}


/* --------------------------------------------- */
/* ------------------ Headings ----------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'LatoLight';
    text-transform: uppercase;
}

h1 {
    font-size: 2.5em;
}


/* --------------------------------------------- */
/* -------------------- Header ----------------- */
header {
    background-color: #FFF;
    height: 115px;
    position: fixed;
    transition: top 0.2s ease-in-out;
}

.nav-down {
    position: fixed;
    top: 0;
}

.nav-up {
    top: -115px;
    /* same as height of header */
}

header > div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

header .logo {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    max-width: 60%;
    min-width: 100px;
    margin: 0;
}

.logoText {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoText > h1 {
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e3e3e3;
}

.logoText > p {
    font-family: 'AusthinaBrush', cursive;
    font-size: 1.2em;
    padding-top: 0;
    margin-top: 0;
}

header a {
    text-decoration: none;
}

nav {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 115px;
    display: flex;
    flex-direction: column;
    background-color: #303030;
    color: #FFF;
    border-bottom: 2px solid rgb(30, 30, 30, 0.5);
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 1.3em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 1.5em;
    font-family: 'LatoLight';
    border-bottom: 1px solid #000;
}

nav ul a {
    text-decoration: none;
    color: #FFF;
}

.active {
    color: #869e40;
}

nav ul li:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li:last-child a:first-child {
    padding-right: 20px;
    border-right: 1px solid #000000;
}

nav ul li:last-child a:last-child {
    padding-left: 20px;
    border-left: 1px solid #000000;
}

/* --------------------------------------------- */
/* ------------------ search bar --------------- */
#intro .dbSearch,
header .dbSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#intro .dbSearch input[type="text"],
header .dbSearch input[type="text"] {
    min-width: 245px;
    padding: 10px;
    margin-right: 0;
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#intro .dbSearch input[type="text"] {
    background: rgba(255, 255, 255, 0.7);
}

header .dbSearch input[type="text"] {
    background-color: #e3e3e3;
}

#intro .dbSearch button,
header .dbSearch button {
    color: #FFF;
    background: rgba(134, 158, 64, 0.7);
    min-width: 50px;
    padding: 11px;
    margin-left: 0;
    border: 1px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* --------------------------------------------- */
/* ---------------- intro section -------------- */
#intro {
    background-image: url('../assets/images/hpImage.jpg');
    min-height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro > div {
    width: 90%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro .overlayText {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(50,50,50,0.25);
}


/* --------------------------------------------- */
/* ------------ meal planner section ----------- */
#mealPlan > div {
    width: 90%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mealPlan .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mealPlan .form div {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#mealPlan .form input[type=checkbox] {
    width: 25px;
    height: 25px;
    padding: 5px;
    margin: 5px;
}

#mealPlan .form label {
    font-family: 'LatoLight';
    font-size: 1.1em;
    text-transform: uppercase;
    
}

#mealPlan .form button {
    width: 100%;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: 'LatoBold';
    color: #FFF;
    background-color: #869e40;
}

/* calendar tabs */
#weeklyCalendar,
.calendarSection,
.weekday,
.mealtime {
    width: 100%;
}

.weekday {
    font-family: LatoBold;
}

.calendarSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fa-sync-alt {
    color: #848484;
}

.weekday,
.mealtime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.weekday {
    background-color: #f0c948;
    color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.weekday > *,
.mealtime > * {
    padding: 10px;
}

.mealtime {
    background-color: rgb(240, 201, 72, 0.3);
}

.lunch {
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
}

.dinner {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
    
.mobileHidden {
    display: none;
}

#mealPlan > .calendarShare {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}


/* --------------------------------------------- */
/* ------------------ footer ------------------- */
footer {
    background-color: #303030;
    color: #FFF;
}

footer > div {
    width: 90%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer > div > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > div > div > div {
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .contactForm {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .contactForm > input[type=text], 
footer .contactForm > textarea, 
footer .contactForm > button {
    width: 100%;
    padding: 10px;
    margin: 10px;    
    border-radius: 5px;
}

footer .contactForm > input[type=text], 
footer .contactForm > textarea {
    border: 1px solid transparent;
    background-color: #e3e3e3;
}

footer .contactForm > textarea {
    height: 150px;
    resize: none;
}

footer .contactForm > button {
    border: 1px solid transparent;
    background-color: #FFF;
}

.error {
    border: 1px solid #FF0000 !important;
}

.copyright {
    font-size: 0.8em;
}


/* --------------------------------------------- */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* ----------------- desktop ------------------- */

@media(min-width: 800px) {
    /* ---------------------------- */
    /* ---------- general --------- */
    .mobileHidden {
        display: inline-block;
    }
    
    .desktopHidden {
        display: none;
    }
    
    /* ---------------------------- */
    /* ----------- Header --------- */

    
    header > div > div > div:nth-child(1) {
        max-width: 10%;
    }
    
    header .logo {
        justify-content: flex-start;
        align-items: center;
    }
    
    .logoImg {
        margin-right: 20px;
    }
    
    .logoText {
        margin-left: 20px;
    }
    
    nav {
        width: 30%;
        position: inherit;
        background-color: #FFF;
        border: none;
    }
    
    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    
    nav ul li {
        border: none;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    nav ul li a {
        color: #303030;
    }
    
    nav ul li:last-child a {
        padding: 0;
        margin: 0;
        font-size: 0.5em;
    }
    
    nav ul li:last-child a:first-child {
        padding-right: 5px;
        border-right: 1px solid #303030;
    }
    
    nav ul li:last-child a:last-child {
        padding-left: 5px;
        border-left: 1px solid #303030;
    }
    /* ---------------------------- */
    /* ---------- search ---------- */
    header .dbSearch input {
        width: 350px;
    }
    
    header .dbSearch button {
        transition: all;
        transition-duration: 1s;
    }
    
    header .dbSearch button:hover {
        background-color: #FFF;
        color: #869e40;
        border: 1px solid #869e40;
        cursor: pointer;
    }
    
    /* ---------------------------- */
    /* ----------- intro ---------- */
    #intro {
        min-height: 600px;
    }
    
    #intro .overlayText {
        max-width: 400px;
    }
    
    /* ---------------------------- */
    /* --------- mealPlan --------- */
    #mealPlan .planGenerator {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    #mealPlan .planGenerator .form {
        width: 60%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    #mealPlan .form button {
        width: 30%;
        transition: all;
        transition-duration: 1s;
    }
    
    #mealPlan .form button:hover {
        border: 1px solid #869e40;
        color: #869e40;
        background-color: #FFF;
        cursor: pointer;
    }
    
    #mealPlan .calendarShare {
        width: 40%;
        display: flex;
        justify-content: flex-end;
    }
    
    #mealPlan .calendarShare > span {
        padding: 10px;
    }
    
    
    .fa-chevron-right,
    .fa-chevron-left {
        display: none;
    }
    
    #weeklyCalendar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    .weekday,
    .mealtime {
        justify-content: center;
        border-radius: 0;
        border: 1px solid #FFF;
    }
    
    .mealtime > h5 {
        padding-top: 0;
        margin-top: 0;
    }
    
    .fa-sync-alt {
        padding-bottom: 0;
        padding-left: 0;
    }
    
    .monday {
        border-top-left-radius: 5px;
    }
    
    .sunday {
        border-top-right-radius: 5px;
    }
    
    .calendarSection:nth-of-type(1) .dinner {
        border-bottom-left-radius: 5px;
    }
    
    .calendarSection:nth-of-type(7) .dinner {
        border-bottom-right-radius: 5px;
    }

    .mealtime {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .mealtime .fa-sync-alt {
        order: -1;
        align-self: flex-end;
    }
    
    .calendarSection {
        width: 20%;
    }
    
    /* ---------------------------- */
    /* ---------- footer ---------- */
    footer > div {
        flex-flow: row wrap;
    }
    
    footer > div .socialButtons {
        width: 30%;
    }
    
    footer .socialButtons div {
        justify-content: center;
    }
    
    footer .socialButtons div span {
        padding: 10px;
    }
    
    footer > div .contactForm {
        width: 70%;
        flex-direction: row;
    }
    
    footer .contactForm input[type=text],
    footer .contactForm textarea,
    footer .contactForm #contactButton {
        width: 30%;
    }
    
    footer .contactForm textarea {
        height: 40px;
    }
    
    footer .contactForm > button {
        transition: all;
        transition-duration: 1s;
    }

    footer .contactForm > button:hover {
        cursor: pointer;
        border: 1px solid #FFF;
        background-color: transparent;
        color: #FFF;
    }
}